html {
    background-color: rgb(38, 29, 29);
    color: white;
}






.textbox {
    margin: auto;
    text-align: center;
    font-size: 20px;
    width: 680px;
    height: 600px;
}
.textbox h2 {
    margin-bottom: 0;
}
.textbox p {
    margin-bottom: 0;
}
.why {
    font-size: 4px;
    text-align: right;
}
.background img {
    width: 300px;
}
.crazy {
    font-size: 12px;
    color: rgb(215, 61, 61);
}
#Timer {
    font-size: 60px;
    background-color: rgb(38, 29, 29);
    color: tomato;
    width: 130px;
    border: none;
}
.meat {
    color: hotpink;
}








.question {
    margin: auto;
    text-align: center;
    width: 600px;
    font-weight: bold;
}
.question h2 {
    margin-top: 0;
    color: bisque;
}